<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jmc.childlearning">

    <application
        android:allowBackup="true"
        android:icon="@drawable/clp_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WarningScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BanglaActivity" />
        <activity
            android:name=".EnglishActivity"
            android:parentActivityName=".WarningScreen" />
        <activity android:name=".KobitaActivity" />
        <activity android:name=".MathActivity" />
        <activity android:name=".SarobornoPart" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>